@using Scheddy.Models
@model IEnumerable<Scheddy.ViewModels.ClassroomByTime>

@{
    ViewBag.Title = "Classroom by time Index";
}

<h2>Classrooms by time</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BldgCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysTaught)
        </th>
    </tr>

    @{ 
        Scheddy.ViewModels.ClassroomByTime oldItem = new Scheddy.ViewModels.ClassroomByTime();

        string space = "There is space here";
    }

@foreach (var item in Model)
{
    // Insert a row when there's space between 2 classes in the same room on the same set of days
    if (oldItem != null && oldItem.DaysTaught == item.DaysTaught && oldItem.BldgCode == item.BldgCode && oldItem.RoomNumber == item.RoomNumber)
    {
        TimeSpan differenceDuration = item.StartTime.Value.TimeOfDay - oldItem.EndTime.Value.TimeOfDay;

        //System.Diagnostics.Debug.WriteLine("item.StartTime.Value.TimeOfDay: " + item.StartTime.Value.TimeOfDay);
        //System.Diagnostics.Debug.WriteLine("oldItem.EndTime.Value.TimeOfDay: " + oldItem.EndTime.Value.TimeOfDay);
        //System.Diagnostics.Debug.WriteLine("Difference in minutes: " + differenceDuration.TotalMinutes);

        if (differenceDuration.TotalMinutes > 30)
        {
            <tr>
                <td>
                    @space.ToString()
                </td>
            </tr>
        }
    }

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BldgCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysTaught)
        </td>
    </tr>
    
    oldItem = item;

}

</table>
<div class="col-md-offset-2 col-md-10">
    <input id="btnAddSection" type="button" value="Add Section" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Section")'"/>
</div>

