@model Scheddy.ViewModels.ScheduleInstructorSection

@{
    ViewBag.Title = "Professor By Time";
}

<h2>IndexByProfessor</h2>

<table class="table">
    <tr>
        <th>
            Professor
        </th>

    </tr>

    @try
    {
        foreach (var item in Model.instructor)
        {
            <tr>
                <td>                    
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
               

                @foreach (var stuff in Model.indexByProfessor)
                {
                    if (item.FirstName == stuff.FirstName && item.LastName == stuff.LastName)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => stuff.BldgCode)
                            @Html.DisplayFor(modelItem => stuff.RoomNumber)
                            @Html.Raw("</br>")
                            @stuff.StartTime.Value.ToString("HH:mm - ")
                            @stuff.EndTime.Value.ToString("HH:mm\n")
                            @Html.Raw("</br>")
                            @Html.DisplayFor(modelItem => stuff.DaysTaught)
                        </td>
                    }
                }

            </tr>
        }

    }
    catch (Exception e) { Console.Write(e); }

</table>
<div class="col-md-offset-2 col-md-10">
    <input id="btnAddSection" type="button" value="Add Section" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Section")'" />
</div>