@model Scheddy.ViewModels.ScheduleInstructorSection
@{
    ViewBag.Title = "Professor By Time";
}

<h2>IndexByProfessor</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.section) 
        </th>
    </tr>

    @try
    {
        foreach (var item in Model.instructor)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </th>

                    @foreach (var stuff in Model.section)
                    {
                        <th>
                            @stuff.StartTime.Value.ToString("hh:mm")
                            @stuff.EndTime.Value.ToString("hh:mm")

                            @Html.DisplayFor(modelItem => stuff.StartTime)
                            @Html.DisplayFor(modelItem => stuff.EndTime)
                        </th>
                    }
                   
                </tr>
        }

    } catch (Exception e) { Console.Write(e); }

</table>