@model IEnumerable<Scheddy.Models.Schedule>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<p>
    @Html.ActionLink("Time by Classroom", "IndexByClassroom", "Schedule")
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ScheduleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ScheduleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleId })
            </td>
        </tr>
    }

</table>

<div class="col-md-offset-2 col-md-10">
    <input type="button" value="Add Section" class="btn btn-default" onclick="AddSectionFromNewWindow()" />
</div>

<script>
    function AddSectionFromNewWindow()
    {
        window.open("http://localhost:53568/Section/Create");
    }
</script>