@model IEnumerable<Scheddy.Models.Schedule>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedules</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear)
            </td>
            <td>
               
                @Html.ActionLink("Index By Professor", "IndexByProfessor", new { id = item.ScheduleId }) |
                @Html.ActionLink("Time by Classroom", "IndexByClassroom", new { id = item.ScheduleId }) |
                @Html.ActionLink("Export To Excel", "ExportToExcel",  new { id = item.ScheduleId }) |
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ScheduleId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleId })
            </td>
        </tr>
    }

</table>


