@model IEnumerable<Scheddy.ViewModels.ScheduleInstructorSection>

@{
    ViewBag.Title = "Professor By Time";
}

<h2>IndexByProfessor</h2>

<table class="table">
    <tr>
        <th>
            Professor
        </th>

    </tr>

    @try
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                @item.StartTime.Value.ToString("hh:mm -")
                @item.EndTime.Value.ToString("hh:mm")
                </td>

                @foreach (var stuff in item.sections)
                {
                    <td>
                        

                        @Html.DisplayFor(modelItem => stuff.StartTime)
                        @Html.DisplayFor(modelItem => stuff.EndTime)
                    </td>
                }

            </tr>
        }

    }
    catch (Exception e) { Console.Write(e); }

</table>