@model IEnumerable<Scheddy.Models.Classroom>

@{
    ViewBag.Title = "Classroom Index";
}

<h2>Classrooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BldgCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumComputers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BldgCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumComputers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassroomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassroomId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassroomId })
        </td>
    </tr>
}

</table>
